<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuantumBunny|Single Play</title>
    <script>
        var cares = {{ cares | tojson }};
        var cards_and_flags = {{ cards | tojson }};
    </script>
</head>
<body>
<h1>Quantum Bunny</h1>
<h2>Single Play</h2>
<div id="game">
    <div id="state">
        <div id="food">
            ご飯
        </div>
        <div id="lapin">
            うさぎの絵
        </div>

        <div id="cares">
            お世話：
            <script>
                for (let i = 0; i < cares.length; i++) {
                    document.write(cares[i]);
                }
                if (cares.length == 0) {
                    document.write("お世話なし")
                }
            </script>
        </div>
        <div id="scores">
            得点リスト
        </div>
    </div>
    <div id="cards">
        ご飯カード or お世話カード
        <script>
            function write_form_for_card(label) {
                document.write(
                    "<form method='POST' name='CARD' action=\"{{ url_for('game_single') }}\">" +
                    "<input type='hidden' name='care' value='"
                );
                document.write(label);
                document.write("'></form>");

            }
            function write_alink_for_card(label, canSelect, no) {
                if (canSelect) {
                    document.write(
                        `<a href="javascript:CARD[${no}].submit()">${label}</a>`
                    );
                } else {
                    document.write(label)
                }
            }

            for (let i = 0; i < cards_and_flags.length; i++) {
                let card_and_flag = cards_and_flags[i];
                let card = card_and_flag[0];
                let canSelect = !Number(card_and_flag[1]);

                if (canSelect) {
                    write_form_for_card(card);
                    write_alink_for_card(card, canSelect, i);
                }

            }
        </script>
    </div>
</div>
</body>
</html>
