<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
        * {
          margin: 0;
          padding: 0;
        }
        body {
          background-image: url('./static/Curcit.png');
          background-repeat: no-repeat;
          /* 他のスタイルプロパティも追加できます */
        }
    </style>  
    <title>QuantumBunny|Game</title>
</head>
<body>
    {% set lapinName = lapin_info['name'] %}
    {% set lapinImageFilename = lapin_info['image'] %}
    {% set lapinImageSrc = './static/' ~ lapinImageFilename %}
    <img src="{{lapinImageSrc}}" alt="lapin-image" style="position: absolute; top: 145px; left: 43px; width: 300px; height: auto;">

    {% set food_selected = game_state['food'] %}
    {% set food_list = cards_and_flags['food'] %}

    <!-- おやつ候補の画像の表示 -->
    {% set ns = namespace(left_position = 30, top_position = 620) %}
    {% for food in food_list %}
        {% if loop.index == 4 %}
            {% set ns.left_position = 30 %}
            {% set ns.top_position = 730 %}
        {% endif %}
        {% set left = ns.left_position ~ 'px' %}
        {% set top = ns.top_position ~ 'px' %}
        {% set img_id = food['label'] %}
        {% set foodImageFileName = img_id ~ '.jpg' %}
        {% set foodImageSrc = './static/' ~ foodImageFileName %}
        <img id="{{img_id}}" src="{{foodImageSrc}}" style="position: absolute; width: 105px; height: 105px; top: {{top}}; left: {{left}}; ">
        {% set ns.left_position = ns.left_position + 110 %}
    {% endfor %}

    <!-- 選択されているおやつの画像の表示 -->
    {% if food_selected is not none %}
        {% set foodImageFileName = food_selected ~ '.jpg' %}
        {% set foodImageSrc = './static/' ~ foodImageFileName %}
        <img id="img_food_selected" src="{{foodImageSrc}}" style="position: absolute; top: 458px; left: 145px; width: 96px; height: auto;">
    {% endif %}

    {% set cares_selected = game_state['cares'] %}
    {% set care_list = cards_and_flags['care'] %}

    <!-- お世話候補の画像の表示 -->
    {% set ns = namespace(left_position = 420, top_position = 620) %}
    {% for care in care_list %}
        {% if loop.index == 7 %}
            {% set ns.left_position = 420 %}
            {% set ns.top_position = 730 %}
        {% endif %}
        {% set left = ns.left_position ~ 'px' %}
        {% set top = ns.top_position ~ 'px' %}
        {% set img_id = care['label'] %}
        {% set careImageFileName = img_id ~ '.jpg' %}
        {% set careImageSrc = './static/' ~ careImageFileName %}
        <img id="{{img_id}}" src="{{careImageSrc}}" style="position: absolute; width: 105px; height: 105px; top: {{top}}; left: {{left}}; ">
        {% set ns.left_position = ns.left_position + 110 %}
    {% endfor %}

    <!-- 選択されているお世話の画像の表示 -->
    {% set ns = namespace(left_position = 370, top_position = 496) %}
    {% for care_selected in cares_selected %}
        {% if care_selected is not none %}
            {% set careImageFileName = care_selected ~ '.jpg' %}
            {% set careImageSrc = './static/' ~ careImageFileName %}
            {% set id = 'img_care_selected_' ~ loop.index %}
            {% set left = ns.left_position ~ 'px' %}
            {% set top = ns.top_position ~ 'px' %}
            <img id="{{id}}" src="{{careImageSrc}}" style="position: absolute; width: 97px; height: auto; top: {{top}}; left: {{left}}; ">
            {% set ns.left_position = ns.left_position + 114 %}
        {% endif %}
    {% endfor %}

    <!-- ゲート画像の表示 -->
    {% set ns = namespace(left_position = 366, top_position = 90) %}
    {% for care_selected in cares_selected %}
        {% if care_selected is not none %}
            {% set gateImageFileName = 'g_' ~ care_selected ~ '.jpg' %}
            {% set gateImageSrc = './static/' ~ gateImageFileName %}
            {% set id = 'img_gate_selected_' ~ loop.index %}
            {% set left = ns.left_position ~ 'px' %}
            {% set top = ns.top_position ~ 'px' %}
            <img id="{{id}}" src="{{gateImageSrc}}" style="position: absolute; width: 106px; height: auto; top: {{top}}; left: {{left}}; ">
            {% set ns.left_position = ns.left_position + 114 %}
        {% endif %}
    {% endfor %}

    {% set scores_list = game_state['scores'] %}

    <!-- すこあの表示 -->
    {% set ns = namespace(top_position = 175) %}
    {% for score in scores_list %}
        {% set rounded_score = score|round(2) %}
        {% set formatted_score = '{:.2f}'.format(rounded_score) %}
        {% set left = 1028 ~ 'px' %}
        {% set top = ns.top_position ~ 'px' %}
        <div style="position: absolute; left: {{left}}; top: {{top}}; font-size: 28px; font-family: 'Arial', sans-serif; text-align: center;">
            {{ formatted_score }}
        </div>
        {% set ns.top_position = ns.top_position + 98 %}
    {% endfor %}

    <!-- ビットの測定結果の表示 -->
    {% set result_data = result_data %}
    {% if result_data['result_bit_list'] is not none %}
        {% set ns = namespace(top_position = 175) %}
        {% set result_bit_list = result_data['result_bit_list'] %}
        {% for result_bit in result_bit_list %}
            {% set left = 903 ~ 'px' %}
            {% set top = ns.top_position ~ 'px' %}
            <div id="result-bit-{{loop.index0}}" style="position: absolute; left: {{left}}; top: {{top}}; font-size: 28px; font-family: 'Arial', sans-serif; text-align: center;">
                <!-- {{result_bit|int}} 初期は何も表示させないためにコメントアウト-->
            </div>
            {% set ns.top_position = ns.top_position + 98 %}
        {% endfor %}
    {% endif %}

    <!-- 今回のスコアを表示 -->
    {% if result_data['result_score'] is not none %}
        {% set score = result_data['result_score']%}
        {% set rounded_score = score|round(2) %}
        {% set formatted_score = '{:.2f}'.format(rounded_score) %}
        <div id="score" style="position: absolute; left: 995px; top: 485px; font-size: 40px; font-family: 'Arial', sans-serif; text-align: center;">
            <!-- {{formatted_score}} 初期は何も表示させないためにコメントアウト-->
        </div>
    {% endif %}

    <!-- ゲーム実行ボタン -->
    <input type="button" id="execute_button" value="実行" onclick="send_to_python()" style="position: absolute; width: 70px; height: 40px; top: 98px; left: 155px; font-size: 24px;">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        var foodList = {{ food_list|tojson|safe }};
        var careList = {{ care_list|tojson|safe }};
        var max_care = 3

        function send_to_python() {
            // 選択されたおやつ画像を判別
            var selectedObj =  document.getElementById("img_food_selected");
            var selected_food = null;
            if (selectedObj) {
                var src_file_name = selectedObj.getAttribute("src");
                var selected_food = src_file_name.split("/")[2].split(".")[0];
            }
 
            var selected_care = [];
            for (var i = 0; i < max_care; i++) {
                var Check_id = 'img_care_selected_' + i;
                var selectedObj = document.getElementById(Check_id)
                if (selectedObj) {
                    var src_file_name = selectedObj.getAttribute("src");
                    var care_name = src_file_name.split("/")[2].split(".")[0];
                    selected_care.push(care_name);
                }
            }

            if (selected_food != null && selected_care.length === 0) {
                var alertMessage = 'お世話を少なくとも1つ選択してください';
                alert(alertMessage);
            } else {
                var send_data = selected_food ? {'selected_food': selected_food, 'selected_care': selected_care} : {'selected_care': selected_care};
                $.ajax("/call_from_ajax", {
                    type: "post",
                    contentType: "application/json", 
                    data: JSON.stringify(send_data), // JSON形式で送信
                }).done(function(received_data) {    // 戻ってきたのはJSON（文字列）
                    var answer = received_data["answer"];
                    var result_score = answer["result_score"]
                    var result_bit_list = answer["result_bit_list"]

                    var element_score = document.getElementById("score")
                    element_score.innerText = result_score.toFixed(2);
                    var element_bit0 = document.getElementById("result-bit-0")
                    element_bit0.innerText = result_bit_list[0];
                    var element_bit1 = document.getElementById("result-bit-1")
                    element_bit1.innerText = result_bit_list[1];
                    var element_bit1 = document.getElementById("result-bit-2")
                    element_bit1.innerText = result_bit_list[2];
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("AJAX request failed: " + textStatus + ", " + errorThrown);
                });
            }
        }

    </script>
    <script type="text/javascript" src="./static/javascript/main.js" ></script>

</body>
</html>