<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuantumLapin|Game</title>
</head>
<body>
<hedaer>
    <H1>QuantumLapin</H1>
    <h2>Game</h2>
</hedaer>
<main>
    <div id="state">
        <div id="state-name">
            <h3>name</h3>
            Mon Lapin
        </div>
        <div id="state-image">
            <img src="../static/images/gaming-lapin.gif" width="100px">
        </div>
        <div id="state-points">
            <h3>points</h3>
            <ul>
                <li>1.23</li>
                <li>1.23</li>
                <li>1.23</li>
            </ul>
        </div>
        <div id="state-probability">
            <h3>probabilities</h3>
            <ul>
                <li>0.50</li>
                <li>0.30</li>
                <li>0.20</li>
            </ul>
        </div>
        <div id="applied_care">
            <h3>applied cares</h3>
            <ul>
                <li>Rub_Head</li>
                <li>Rub_Tail</li>
            </ul>
        </div>
        <div id="applied_food">
            <h3>applied food</h3>
            <div>Carrot</div>
        </div>
    </div>
    <div id="card">
        <h3>Card list</h3>
        <ul>
            <li class="card-food">Carrot</li>
            <li class="card-food">Wheet</li>
            <li class="card-care">Brush Head</li>
            <li class="card-care">Brush Tail</li>
            <li class="card-care">Rub Back</li>
        </ul>
    </div>
</main>
<footer>
    QuantumBunny &copy; 2023 Groupe-7
</footer>
</body>
</html>
